body {
    margin: 0;
    height: 100vh;           
    display: flex;
    justify-content: center;
    align-items: center;
}
#record_text  {
    font: 150%  "Consolas", monospace;
    position: absolute;
    right: 15%;
}